
/* START OF INDEX STYLE CODE */

        .name {
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: bold;
            margin: 15px;
            padding: 10px;
            border: none;
            background: none;
            cursor: pointer;
            
        }
        .index_main-header {
            font-family: 'Open Sans';
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            
        }
        .index_role {
            font-weight: bold;
            font-size: 20px;
        }
        .index_main_section {
            font-family: 'Open Sans';
            font-size: 18px;
            white-space: pre-line;
            max-width: 19vw;
            height: auto;
            width: 100%;
            padding: 10px;
            margin: 0;
            position: fixed;
            top: 35%;
            left: 25%;
            transform: translate(-25%, -35%);
            }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            max-height: 10vh;
            width: 100%;
            text-align: center;
        }
        .github-button {
            font-family: 'Open Sans';
            font-size: 18px;
            float: right;
            margin: 15px;
            border: none;
            background: none;
            cursor: pointer;
        }
        .github-button:hover {
            color: #f1502f;
        }
        .linkedin-button {
            font-family: 'Open Sans';
            font-size: 18px;
            float: right;
            margin: 15px;
            border: none;
            background: none;
            cursor: pointer;
        }
        .linkedin-button:hover {
            color: blue;
        }
        .headings {
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: bold;
            border: none;
            background: none;
            cursor: pointer;
            margin: 20px;
            float: right;
            color: #181818;
            display: flex;
        }
        .headings:hover {
            color: #3D3D3D;
        }

/* END OF INDEX STYLE CODE */

/* START OF ABOUT ME STYLE CODE */

        .about_me_body {
            height: 1300px;
            overflow-y: scroll;
        }

        .about_me_heading_1 {
            font-family: 'Open Sans';
            font-size: 18px;
            max-width: 19vw;
            padding: 10px;
            position: relative;
            left: 150px;
            top: 50px;
            }

        .about_me_paragraph_1 {
            font-family: 'Open Sans';
            font-size: 18px;
            max-width: 30vw;
            padding: 10px;
            top: 50px;
            left: 300px;
            position: relative;
            }

        .about_me_heading_2 {
            font-family: 'Open Sans';
            font-size: 18px;
            max-width: 19vw;
            padding: 10px;
            position: relative;
            left: 150px;
            top: 30px;
            }

        .about_me_paragraph_2 {
            font-family: 'Open Sans';
            font-size: 18px;
            max-width: 30vw;
            padding: 10px;
            top: 10px;
            left: 300px;
            position: relative;
            }
        
        .about_me_heading_3 {
            font-family: 'Open Sans';
            font-size: 18px;
            max-width: 19vw;
            padding: 10px;
            position: relative;
            bottom: 5px;
            left: 150px;
            }

        .about_me_paragraph_3 {
            font-family: 'Open Sans';
            font-size: 18px;
            max-width: 30vw;
            padding: 10px;
            bottom: 15px;
            left: 300px;
            position: relative;
            }
        
/* END OF ABOUT ME STYLE CODE */