.name {
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: bold;
            margin: 15px;
            padding: 10px;
            border: none;
            background: none;
            cursor: pointer;
            
        }
        .main-header {
            font-family: 'Open Sans';
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            
        }
        .role {
            font-weight: bold;
            font-size: 20px;
        }
        .main_section {
            font-family: 'Open Sans';
            font-size: 18px;
            white-space: pre-line;
            max-width: 19vw;
            height: auto;
            width: 100%;
            padding: 10px;
            margin: 0;
            position: fixed;
            top: 40%;
            left: 25%;
            transform: translate(-25%, -40%);
            }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            max-height: 10vh;
            width: 100%;
            text-align: center;
        }
        .github-button {
            font-family: 'Open Sans';
            font-size: 18px;
            float: right;
            margin: 15px;
            border: none;
            background: none;
            cursor: pointer;
        }
        .github-button:hover {
            color: #f1502f;
        }
        .linkedin-button {
            font-family: 'Open Sans';
            font-size: 18px;
            float: right;
            margin: 15px;
            border: none;
            background: none;
            cursor: pointer;
        }
        .linkedin-button:hover {
            color: blue;
        }
        .headings {
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: bold;
            border: none;
            background: none;
            cursor: pointer;
            margin: 20px;
            float: right;
            color: #181818;
        }
        .headings:hover {
            color: #3D3D3D;
        }