
/* START OF GLOBAL STYLE CODE */

    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        display: table;
    }

    .footer {
        display: table-row;
        height: 0;

    }

    .github_button {
        font-family: 'Open Sans';
        font-size: 18px;
        float: right;
        margin: 15px;
        border: none;
        background: none;
        cursor: pointer;
    }

    .github_button:hover {
        color: #f1502f;
    }

    .linkedin_button {
        font-family: 'Open Sans';
        font-size: 18px;
        float: right;
        margin: 15px;
        border: none;
        background: none;
        cursor: pointer;
    }

    .linkedin_button:hover {
        color: blue;
    }
        
    .contact:hover {
        cursor: pointer;
    }
        
    .contact:focus {
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
    }

    .no_top_bar {
        position: fixed;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .headings button {
        font-family: 'Open Sans';
        font-size: 18px;
        align-items: center;
        border: none;
        background: none;
        cursor: pointer;
        margin: 20px;
        color: #181818;
    }
    
    .headings button {
        position: relative;
        padding: 10px;
        padding-bottom: 10px;
    }
    
    .headings button::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #181818;
        visibility: hidden;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
    
    .headings button:hover::after {
        visibility: visible;
        transform: scaleX(1);
    }
    
    .name {
        font-family: 'Open Sans';
        font-size: 18px;
        align-items: center;
        border: none;
        background: none;
        cursor: pointer;
        margin: 20px;
        margin-left: 100px;
        color: #181818;
        margin-right: auto;
    }

    .name {
        position: relative;
        padding: 10px;
        padding-bottom: 10px;
    }

    .name::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #181818;
        visibility: hidden;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
    
    .name:hover::after {
        visibility: visible;
        transform: scaleX(1);
    }


/* START OF INDEX STYLE CODE */

    .index {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        font-family: 'Open Sans';
        white-space: pre-line;
        font-size: 18px;
        max-width: 23vw;
        padding: 10px;
        position: relative;
        left: 25%;
        top: 25%;
        overflow: auto;
    }

    .index_main_header {
        justify-content: center;
        font-family: 'Open Sans';
        font-size: 35px;
        font-weight: bold;
        
    }
    .index_role {
        font-weight: bold;
        font-size: 20px;
    }

    .contact {
        appearance: button;
        backface-visibility: hidden;
        background-color: #405cf5;
        border-radius: 6px;
        color: #fff;
        font-family: 'Open Sans';
        font-size: 100%;
        height: 44px;
        line-height: 1.15;
        margin: 12px 0 0;
        outline: none;
        overflow: hidden;
        padding: 0 25px;
        text-align: center;
        border: none;
        width: 80%;
    }

    .parent {
        position: relative;
    }

    .image {
        max-width:100%;
        max-height:100%;
        position: absolute;
        max-width: 30vw;
        top: 60%;
        left: 65%; 
        transform: translate(-50%, -65%);
        border-radius: 50%;
    }


/* END OF INDEX STYLE CODE */

/* START OF ABOUT ME STYLE CODE */


    .about_me_heading {
        font-family: 'Open Sans';
        font-size: 18px;
        max-width: 19vw;
        padding: 10px;
        position: relative;
        left: 150px;
        top: 20px;
        }

    .about_me_paragraph {
        font-family: 'Open Sans';
        font-size: 18px;
        max-width: 60vw;
        padding: 10px;
        top: 15px;
        left: 300px;
        position: relative;
        text-align: justify;
        }
        
/* END OF ABOUT ME STYLE CODE */

/* START OF PROJECTS STYLE CODE */

    .project_buttons {
        border: none;
        margin-top: 50px;
        font-family: 'Open Sans';
        font-size: 17px;
        color: grey;
        cursor: pointer;
    }

    .project_buttons:hover {
        color: black;
    }

    .side_navigation {
        position: fixed;
        flex: 1;
        max-width: 15vw;
        padding-left: calc(0.1vw + 2.5px);
        top: 50%;
        transform: translateY(-45%);
    }

    .side_navigation button {
        font-family: 'Open Sans';
        font-size: 18px;
        align-items: center;
        border: none;
        background: none;
        cursor: pointer;
        margin: 20px;
        color: #181818;
        margin-right: auto;
    }

    .side_navigation button {
        position: relative;
        padding-bottom: 10px;
    }

    .side_navigation button::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #181818;
        visibility: hidden;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
    
    .side_navigation button:hover::after {
        visibility: visible;
        transform: scaleX(1);
    }

    .divider {
        position: fixed;
        top: 6.5%;
        bottom: 0;
        left: calc(15vw + 15px); /* Adjust this value to match the width of the sidebar */
        width: 3px;
        background-color: #9c9c9c; /* Adjust this color as needed */
        z-index: 9999; /* Ensure the line appears above other elements */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    }

    .top_bar {
        position: fixed;
        left: 0;
        width: 100%;
        height: 60px; /* Adjust the height of the top bar as needed */
        background-color: #f0f0f0; /* Adjust the background color of the top bar */
        border-bottom: 3px solid #9c9c9c; /* Add a border bottom to create the underline */
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 999;
    }

/* END OF PROJECTS STYLE CODE */

/* START OF SNAKE AI AGENT STYLE CODE */

.snake_main_content {
    /* display: flex;
    flex-wrap: wrap;
    align-items: flex-start; */
    font-family: 'Open Sans';
    font-size: 15px;
    padding-top: 70px; /* Add padding as needed */
    padding-left: calc(16vw + 35px); /* Add padding as needed */
    padding-bottom: 100px;
  }
  
  .snake_image {
    padding-left: calc(25vw + 155px);
    padding-top: 100px;
  }
  
  .text_wrapper {
    overflow: hidden; /* Ensure the wrapper expands to contain floated elements */
  }
  
  .playing_game_video {
    float: right; /* Float the video to the left */
    margin-right: 20px; /* Add some spacing between the video and text */
    margin-left: 10px;
  }
  
  .text_content {
    font-family: 'Open Sans';
    font-size: 15px;
  }

  .bigger_font {
    display: block;
    font-family: 'Open Sans';
    font-size: 18px;
    text-align: center;
  }